No notifications can be sent to mails with underscore in localpart

### Steps to reproduce
1. Create new user `my-user` with mail address that contains underscore in localpart (`john_doe@example.com`)
2. Share a folder from user `alpha` with this user `my-user`

### Expected behaviour
Folder is shared, notification is sent.

### Actual behaviour
Error that the mail address `john_doe` is not conform with RFC 2822 section 3.6.2.

Please notice that the domain part in this message is completely missing, there is just the local part!

For the local part I didn't find a restriction for the underscore and it seems to be used by large mail providers as well (https://en.wikipedia.org/wiki/Email_address#Local-part).

I anonymized the mail address, the real domain part is just a .com-domain with latin characters and the local part it is just the underscore (no other special characters or non latin characters).

### Server configuration

**Operating system:**
FreeBSD
**Web server:**
Nginx
**Database:**
MariaDB
**PHP version:**
7.4
**Nextcloud version:** (see Nextcloud admin page)
20.0.12.1
**Updated from an older Nextcloud/ownCloud or fresh install:**
Updated
**Where did you install Nextcloud from:**
CLI updater/updater.phar

**List of activated apps:**
<details>
<summary>App list</summary>

```
Enabled:
  - accessibility: 1.6.0
  - activity: 2.13.4
  - admin_audit: 1.10.0
  - announcementcenter: 4.0.1
  - apporder: 0.13.0
  - audioplayer: 3.1.0
  - bookmarks: 4.4.1
  - calendar: 2.3.2
  - camerarawpreviews: 0.7.12
  - checksum: 1.1.2
  - cloud_federation_api: 1.3.0
  - comments: 1.10.0
  - contacts: 4.0.2
  - contactsinteraction: 1.1.0
  - dav: 1.16.2
  - deck: 1.2.8
  - federatedfilesharing: 1.10.2
  - federation: 1.10.1
  - files: 1.15.0
  - files_accesscontrol: 1.10.2
  - files_automatedtagging: 1.10.1
  - files_external: 1.11.1
  - files_pdfviewer: 2.0.1
  - files_rightclick: 0.17.0
  - files_sharing: 1.12.2
  - files_trashbin: 1.10.1
  - files_versions: 1.13.0
  - files_videoplayer: 1.9.0
  - firstrunwizard: 2.9.0
  - gpxpod: 4.2.8
  - lookup_server_connector: 1.8.0
  - news: 16.0.1
  - nextcloud_announcements: 1.9.0
  - notifications: 2.8.0
  - oauth2: 1.8.0
  - password_policy: 1.10.1
  - photos: 1.2.3
  - privacy: 1.4.0
  - provisioning_api: 1.10.0
  - recommendations: 0.8.0
  - serverinfo: 1.10.0
  - settings: 1.2.0
  - sharebymail: 1.10.0
  - spreed: 10.0.9
  - survey_client: 1.8.0
  - systemtags: 1.10.0
  - text: 3.1.0
  - theming: 1.11.0
  - twofactor_backupcodes: 1.9.0
  - twofactor_totp: 5.0.0
  - twofactor_u2f: 6.2.0
  - updatenotification: 1.10.0
  - user_status: 1.0.1
  - viewer: 1.4.0
  - workflowengine: 2.2.0

```
</details>


**Are you using external storage, if yes which one:** SFTP (but not on the affected user accounts)

**Are you using encryption:** no

**Are you using an external user-backend, if yes which one:** no




### Logs

<!--- Reports without logs might be closed as unqualified reports! -->

#### Nextcloud log (data/nextcloud.log)
<details>
<summary>Nextcloud log</summary>

```
{"reqId":"VQUS9te6ULUDl35YHNK7","level":3,"time":"September 10, 2021 07:19:32","remoteAddr":"1.2.3.4","user":"alpha","app":"no app in context","method":"POST","url":"/ocs/v2.php/apps/files_sharing/api/v1/shares","message":{"Exception":"Swift_RfcComplianceException","Message":"Address in mailbox given [john_doe@] does not comply with RFC 2822, 3.6.2.","Code":0,"Trace":[{"file":"/usr/local/www/nextcloud/3rdparty/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeader.php","line":272,"function":"assertValidAddress","class":"Swift_Mime_Headers_MailboxHeader","type":"->","args":["john_doe@"]},{"file":"/usr/local/www/nextcloud/3rdparty/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeader.php","line":117,"function":"normalizeMailboxes","class":"Swift_Mime_Headers_MailboxHeader","type":"->","args":[["john_doe@"]]},{"file":"/usr/local/www/nextcloud/3rdparty/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeader.php","line":74,"function":"setNameAddresses","class":"Swift_Mime_Headers_MailboxHeader","type":"->","args":[["john_doe@"]]},{"file":"/usr/local/www/nextcloud/3rdparty/swiftmailer/swiftmailer/lib/classes/Swift/Mime/SimpleHeaderFactory.php","line":61,"function":"setFieldBodyModel","class":"Swift_Mime_Headers_MailboxHeader","type":"->","args":[["john_doe@"]]},{"file":"/usr/local/www/nextcloud/3rdparty/swiftmailer/swiftmailer/lib/classes/Swift/Mime/SimpleHeaderSet.php","line":71,"function":"createMailboxHeader","class":"Swift_Mime_SimpleHeaderFactory","type":"->","args":["To",["john_doe@"]]},{"file":"/usr/local/www/nextcloud/3rdparty/swiftmailer/swiftmailer/lib/classes/Swift/Mime/SimpleMessage.php","line":323,"function":"addMailboxHeader","class":"Swift_Mime_SimpleHeaderSet","type":"->","args":["To",["john_doe@"]]},{"file":"/usr/local/www/nextcloud/lib/private/Mail/Message.php","line":151,"function":"setTo","class":"Swift_Mime_SimpleMessage","type":"->","args":[["john_doe@"]]},{"file":"/usr/local/www/nextcloud/lib/private/Share20/Manager.php","line":902,"function":"setTo","class":"OC\\Mail\\Message","type":"->","args":[["john_doe@"]]},{"file":"/usr/local/www/nextcloud/lib/private/Share20/Manager.php","line":840,"function":"sendMailNotification","class":"OC\\Share20\\Manager","type":"->","args":[{"__class__":"OC\\L10N\\LazyL10N"},"06","https://data.aspekte.net/apps/files_sharing/accept/ocinternal:509","alpha","john_doe@example.com",null]},{"file":"/usr/local/www/nextcloud/apps/files_sharing/lib/Controller/ShareAPIController.php","line":617,"function":"createShare","class":"OC\\Share20\\Manager","type":"->","args":[{"__class__":"OC\\Share20\\Share"}]},{"file":"/usr/local/www/nextcloud/lib/private/AppFramework/Http/Dispatcher.php","line":169,"function":"createShare","class":"OCA\\Files_Sharing\\Controller\\ShareAPIController","type":"->","args":[{"__class__":"OC\\Files\\Node\\Folder"},31,0,"my-user","false","",null,"",""]},{"file":"/usr/local/www/nextcloud/lib/private/AppFramework/Http/Dispatcher.php","line":100,"function":"executeController","class":"OC\\AppFramework\\Http\\Dispatcher","type":"->","args":[{"__class__":"OCA\\Files_Sharing\\Controller\\ShareAPIController"},"createShare"]},{"file":"/usr/local/www/nextcloud/lib/private/AppFramework/App.php","line":152,"function":"dispatch","class":"OC\\AppFramework\\Http\\Dispatcher","type":"->","args":[{"__class__":"OCA\\Files_Sharing\\Controller\\ShareAPIController"},"createShare"]},{"file":"/usr/local/www/nextcloud/lib/private/Route/Router.php","line":309,"function":"main","class":"OC\\AppFramework\\App","type":"::","args":["OCA\\Files_Sharing\\Controller\\ShareAPIController","createShare",{"__class__":"OC\\AppFramework\\DependencyInjection\\DIContainer"},{"_route":"ocs.files_sharing.ShareAPI.createShare"}]},{"file":"/usr/local/www/nextcloud/ocs/v1.php","line":88,"function":"match","class":"OC\\Route\\Router","type":"->","args":["/ocsapp/apps/files_sharing/api/v1/shares"]},{"file":"/usr/local/www/nextcloud/ocs/v2.php","line":24,"args":["/usr/local/www/nextcloud/ocs/v1.php"],"function":"require_once"}],"File":"/usr/local/www/nextcloud/3rdparty/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeader.php","Line":355,"CustomMessage":"--"},"userAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:91.0) Gecko/20100101 Firefox/91.0","version":"20.0.12.1"}

```
</details>




Looks like an issue of swiftmailer. Can you reproduce this on NC21.0.4, too?