Support JSContact (RFC 9953) for storing contacts

<!--- Please keep this note for other contributors -->

### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are interested into the same feature.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments. 


**Is your feature request related to a problem? Please describe.**
Incompatibilities and limitations of the vCard contact storing standard.

**Describe the solution you'd like**
In the IETF’s [RFC 9553](https://datatracker.ietf.org/doc/html/rfc9553/), **JSContact**, a new standard for JSON Representation of Contact Data has been published. I believe this could be the final solution for the major issue of contact cards compatibility!

**Additional context**
- [RFC 9554](https://datatracker.ietf.org/doc/html/rfc9554/): *vCard Format Extensions for JSContact*
- [RFC 9555](https://datatracker.ietf.org/doc/html/rfc9555/): *JSContact: Converting from and to vCard*


Hello

For information, I think of the issue is wrong, it should be `9553` and not `9953`

Note: I made the same typo on a google search and it showed me this result :)

> For information, I think the issue **title** is wrong, it should be `9553` and not `9953`

You’re right! Thanks, I fixed it.