[Bug]: Setup checks for DAV well-known URIs don't work as expected

### ⚠️ This issue respects the following points: ⚠️

- [X] This is a **bug**, not a question or a configuration/webserver/proxy issue.
- [X] This issue is **not** already reported on Github _(I've searched it)_.
- [X] Nextcloud Server **is** up to date. See [Maintenance and Release Schedule](https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule) for supported versions.
- [X] Nextcloud Server **is** running on 64bit capable CPU, PHP and OS.
- [X] I agree to follow Nextcloud's [Code of Conduct](https://nextcloud.com/contribute/code-of-conduct/).

### Bug description

The setup checks performed on Settings > Overview (under Administration) do not properly test the DAV well-known URIs (`/.well-known/caldav` and `/.well-known/carddav`). The tests expects that a PROPFIND request to these endpoints should immediately result in a HTTP 207 response, when that is not their purpose. Rather, per [RFC6764 §5](https://www.rfc-editor.org/rfc/rfc6764#section-5), the immediate response is a 301 (or similar), which the client must resolve. We should actually:

1. check that this occurs instead of checking for a 207 response; and
2. check that the `Location` header in the response is the actual context path (e.g. `https://example.com/cloud/remote.php/dav`) and/or that a PROPFIND request to that path returns a 207.

[Here are the calls to the tests](https://github.com/nextcloud/server/blob/a733a77f7bce2db0b4d4c529c843781f7379c4a8/apps/settings/src/admin.js#L223).

### Steps to reproduce

1. Set up web server so that requests for `/.well-know/caldav` are responded to with a HTTP 301 directing the client to `/remote.php/dav`.
3. In Nextcloud, go to Settings > Overview (under Administration). Let the setup checks run.
4. Inappropriately see the message "Your web server is not properly set up to resolve "/.well-known/caldav". Further information can be found in the documentation."


### Expected behavior

The setup check should pass.

### Installation method

Community Manual installation with Archive

### Operating system

Debian/Ubuntu

### PHP engine version

PHP 8.1

### Web server

Nginx

### Database engine version

MariaDB

### Is this bug present after an update or on a fresh install?

Fresh Nextcloud Server install

### Are you using the Nextcloud Server Encryption module?

Encryption is Disabled

### What user-backends are you using?

- [X] Default user-backend _(database)_
- [ ] LDAP/ Active Directory
- [ ] SSO - SAML
- [ ] Other

### Configuration report

```shell
{
    "system": {
        "instanceid": "***REMOVED SENSITIVE VALUE***",
        "passwordsalt": "***REMOVED SENSITIVE VALUE***",
        "secret": "***REMOVED SENSITIVE VALUE***",
        "trusted_domains": [
            "cloud.jivanpal.com"
        ],
        "trusted_proxies": "***REMOVED SENSITIVE VALUE***",
        "datadirectory": "***REMOVED SENSITIVE VALUE***",
        "dbtype": "mysql",
        "version": "24.0.6.1",
        "overwrite.cli.url": "https:\/\/cloud.jivanpal.com",
        "overwriteprotocol": "https",
        "dbname": "***REMOVED SENSITIVE VALUE***",
        "dbhost": "***REMOVED SENSITIVE VALUE***",
        "dbport": "",
        "dbtableprefix": "oc_",
        "mysql.utf8mb4": true,
        "dbuser": "***REMOVED SENSITIVE VALUE***",
        "dbpassword": "***REMOVED SENSITIVE VALUE***",
        "installed": true,
        "default_phone_region": "GB",
        "maintenance": false,
        "updater.secret": "***REMOVED SENSITIVE VALUE***",
        "theme": "",
        "loglevel": 2,
        "twofactor_enforced": "true",
        "twofactor_enforced_groups": [],
        "twofactor_enforced_excluded_groups": []
    }
}
```


### List of activated Apps

```shell
Enabled:
  - accessibility: 1.10.0
  - activity: 2.16.0
  - admin_audit: 1.14.0
  - apporder: 0.15.0
  - bruteforcesettings: 2.4.0
  - calendar: 3.5.1
  - circles: 24.0.1
  - cloud_federation_api: 1.7.0
  - comments: 1.14.0
  - contacts: 4.2.2
  - contactsinteraction: 1.5.0
  - dashboard: 7.4.0
  - dav: 1.22.0
  - deck: 1.7.1
  - federatedfilesharing: 1.14.0
  - federation: 1.14.0
  - files: 1.19.0
  - files_pdfviewer: 2.5.0
  - files_rightclick: 1.3.0
  - files_sharing: 1.16.2
  - files_trashbin: 1.14.0
  - files_versions: 1.17.0
  - files_videoplayer: 1.13.0
  - firstrunwizard: 2.13.0
  - logreader: 2.9.0
  - lookup_server_connector: 1.12.0
  - mail: 1.14.1
  - nextcloud_announcements: 1.13.0
  - notifications: 2.12.1
  - oauth2: 1.12.0
  - password_policy: 1.14.0
  - photos: 1.6.0
  - privacy: 1.8.0
  - provisioning_api: 1.14.0
  - recommendations: 1.3.0
  - richdocuments: 6.3.0
  - serverinfo: 1.14.0
  - settings: 1.6.0
  - sharebymail: 1.14.0
  - support: 1.7.0
  - survey_client: 1.12.0
  - systemtags: 1.14.0
  - text: 3.5.1
  - theming: 1.15.0
  - twofactor_backupcodes: 1.13.0
  - twofactor_totp: 6.4.1
  - updatenotification: 1.14.0
  - user_status: 1.4.0
  - viewer: 1.8.0
  - weather_status: 1.4.0
  - workflowengine: 2.6.0
Disabled:
  - encryption
  - files_external
  - user_ldap
```


### Nextcloud Signing status

```shell
No errors have been found.
```


### Nextcloud Logs

```shell
No logs from running tests.
```


### Additional info

_No response_

Hi, please update to 25.0.7 or better 26.0.2 and report back if it fixes the issue. Thank you!

My goal is to add a label like e.g. 26-feedback to this ticket of an up-to-date major Nextcloud version where the bug could be reproduced. However this is not going to work without your help. So thanks for all your effort!

If you don't manage to reproduce the issue in time and the issue gets closed but you can reproduce the issue afterwards, feel free to create a new bug report with up-to-date information by following this link: https://github.com/nextcloud/server/issues/new?assignees=&labels=bug%2C0.+Needs+triage&template=BUG_REPORT.yml&title=%5BBug%5D%3A+

I recently upgraded to 27.0.0 before seeing this reply, so I was not able to test on 25.0.7 or 26.x, but I can confirm that this issue is still present on 27.0.0 (Nextcloud Hub 5).

Hi @jivanpal - While I understand what you're saying about how the test could be more granular[1], I can't reproduce the issue you're describing. Nor do we expect a 207 immediately. We resolve through a 301 just fine until we reach the 207. With the way the test currently works we're ultimately testing each of those steps in the chain.

In a standard install [we already do 301 redirect of the `/.well-known` URLs in the `.htaccess`](https://github.com/nextcloud/server/blob/6f520f23046e74c07b1f7179abba1097af3e0c65/.htaccess#L88-L89) (and the widely used nginx config also does the same). So the scenario you described to reproduce this is exactly how most installations are already setup. And the check works there. If the check is failing for you, something else is probably going on.

The check as it's currently coded hits the `/.well-known/carddav` URL, sees the 301 redirect, follows it, then hits the real endpoint `/remote.php/dav`, and receives the 207. What are you seeing in your browser console when this check runs for you? Can you check your browser console output under the Network tab and see which transactions are being generated from the initial `/.well-known/{card,cal}dav` requests initiated by your browser?

@joshtrichards Thanks, you helped me find the actual cause of my issue, as Chrome dev tools gave a HTTP response status of "(blocked:csp)" for the DAV endpoints.

I use a reverse-proxy / TLS terminator that forwards requests to Nginx/Nextcloud using plaintext HTTP. The reverse-proxy was receiving `Location: http://cloud.jivanpal.com` in the response from Nextcloud, and was not rewriting this to `Location: https://cloud.jivanpal.com` before sending the response to the client/user, resulting in a Content Security Policy violation on the client side. It seems that Nginx doesn't take into account the `X-Forwarded-Proto` request header when using `return 301 /redirect/path;`, as in the `return 301 /remote.php/dav;` that is in my config.

The reverse-proxy in question is actually another instance of Nginx on another server. Adding `proxy_redirect http://cloud.jivanpal.com/ https://cloud.jivanpal.com/` to its configuration resolved the issue.

Glad to hear you it! 

There are two other approaches here that *should* also work similarly in your situation:

https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/reverse_proxy_configuration.html#nginx 

They too avoid the issue by being explicit about the schema (`https`) in the destination in either the `return` or the `rewrite`. Like with a lot of this sort of thing there at least a handful of ways of accomplishing something similar. 