Allow NC 29 Setup Warnings self-check to accept rewritten service-discovery URLs (.well-known) as well as 301 redirects as in NC 28

<!--- Please keep this note for other contributors -->

The Administration -> Overview page's "Setup Warnings" section warns if the service discovery URLs (eg `/.well-known/caldav`, `/.well-known/carddav`) do not redirect to `/remote.php/dav/` with "**Your web server is not properly set up to resolve '.well-known' URLs**."

It's common to run Nextcloud behind a reverse proxy like Traefik, haproxy, or nginx, and typical recommendations are to apply a URL rewrite or redirect for those URLs to enable service-discovery and satisfy the setup warning check. 

Prior to NC 29, either rewriting the URL in front of Nextcloud or issuing a 301 HTTP redirect to `http://example.com/remote.php/dav/` was sufficient to satisfy the self-check and eliminate warnings.  With NC 29, only an actual HTTP 301 redirect seems to be sufficient to satisfy the check, with the result that configurations that still work for service discovery, and which were previously not flagged as problems, now do trigger the warning. 

For example, the usual recommended setup with Traefik is to use a middleware configuration like
```
- "traefik.http.middlewares.nextcloud-dav.replacepathregex.regex=^/.well-known/ca(l|rd)dav"
- "traefik.http.middlewares.nextcloud-dav.replacepathregex.replacement=/remote.php/dav/"
```
which works correctly and does not warn in NC 28, but does warn in NC 29. 

In NC 29, only a redirect avoids the warning:
```
- "traefik.http.middlewares.dav-redirectregex.redirectregex.regex=^https://(.*?)/.well-known/ca(l|rd)dav"
- "traefik.http.middlewares.dav-redirectregex.redirectregex.replacement=https://$${1}/remote.php/dav/"
```

It would avoid probably quite a few users becoming confused and frustrated if the self-check didn't explicitly require a HTTP redirect to avoid the "Your web server is not properly set up to resolve '.well-known' URLs" warning.  Alternately, the documentation (both the Administration Guide and the Update Notes for Nextcloud 29) could be updated to mention the requirement for an HTTP redirect on /.well-known URLs to satisfy the self-check. 

Hi,

what documentation are you talking about? 

The configuration examples for traefik 1 and traefik 2 are using redirect[^1].

The RFC for caldav and carddav service discovery[^2] says:

> The server MUST redirect HTTP requests for that resource
   to the actual "context path" using one of the available mechanisms
   provided by HTTP (e.g., using a 301, 303, or 307 response).  Clients
   MUST handle HTTP redirects on the ".well-known" URI.  Servers MUST
   NOT locate the actual CalDAV or CardDAV service endpoint at the
   ".well-known" URI as per [Section 1.1 of [RFC5785]](https://datatracker.ietf.org/doc/html/rfc5785#section-1.1).

[^1]: https://github.com/nextcloud/documentation/blob/master/admin_manual/configuration_server/reverse_proxy_configuration.rst
[^2]: https://datatracker.ietf.org/doc/html/rfc6764#section-5


Yes, on review you're quite right. It seems the previous behavior of the setup check was incorrect in that it _did_ accept configurations where the service endpoint was (apparently, due to URL rewriting) actually located at the .well-known URI; the NC 29 behavior would seem to be the correct one.   It may be that the recommendation to use URL rewriting was from an old Traefik document, rather than from Nextcloud's. 

Came up here too: #48232

I believe our documentation at [reverse_proxy_configuration.html](https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/reverse_proxy_configuration.html) and [general_troubleshooting.html#service-discovery](https://docs.nextcloud.com/server/latest/admin_manual/issues/general_troubleshooting.html#service-discovery) covers all the necessary details on this topic. Unfortunately, I can't control other examples that may be shared online that might not follow the correct approach.