HTTP GET on  vCard item in CardDAV address book yields a version 3.0 vCard (VCF) in common browsers

### Describe the bug
When downloading a VCF file from the CardDAV with the HTTP GET verb from a common web browser (Firefox, Chrome, Internet Explorer) one would expect to 

get a version 4.0 vCard, which is the best format supported by the CardDAV; nextcloud returns a version 3.0 vCard, downgrading the content.

This is due to the fact that most browsers do not explicitly add "text/vcard; version=4.0" on their "Accept" HTTP header line; in place they use */*.
Consequently, the negotiateVCard() function called by httpAfterGet() in the 3rdparty/sabre/dav/lib/CardDAV/Plugin.php script negotiates the content 

type as "text/vcard" then the text/vcard content type defaults to version 3.0.

The same behavior is observed for a "Accept: text/vcard" header.
To get a version 4.0 vCard, one has to set "Accept: text/vcard; version=4.0" explicitly in the header of the HTTP GET request.

Actually, RFC 6350, in section 10.1, defines the "text/vcard" type but does not tell that it defaults to version 3.0.

RFC 6350 section 10.1 contains the following paragraph
>   Interoperability considerations:  The text/vcard media type is
>      intended to identify vCard data of any version.  There are older
>      specifications of vCard [RFC2426][vCard21] still in common use.
>      While these formats are similar, they are not strictly compatible.
>      In general, it is necessary to inspect the value of the VERSION
>      property (see Section 6.7.9) for identifying the standard to which
>      a given vCard object conforms.

It seems that defaulting to version 4.0 would be better since most tools work with version 4.0 nowadays.

**To Reproduce (easy way)**
Steps to reproduce the behavior (way 1):
1. Login to nextcloud as a user on a common browser (tested on: Firefox, Internet Explorer, Chrome)
2. Click on the "Contacts" application
3. Click on any contact in order to open it (or create one if none exists) 
4. Click on the menu (three dots icon) of the contact
5. Click "Download"
6. In the browser, Save the file on the disk
7. Open the file with a text editor
8. See that the "VERSION" field of the contact is 3.0 while it should be 4.0

**To Reproduce (complex way, but easier to debug)**
1. Reproduce steps 1 to 5 of the easy way
2. copy the URL such as http://example.com/owncloud/remote.php/dav/addressbooks/users/john/contacts/7a77045a-ff45-44d6-8f46-5294d600269a.vcf
3. Use the curl command:
curl --basic --user XXXXXX:XXXXX http://example.com/owncloud/remote.php/dav/addressbooks/users/john/contacts/7a77045a-ff45-44d6-8f46-5294d600269a.vcf  

-X GET -H 'Accept: */*'
4. Read the output
5. See that the "VERSION" field of the contact is 3.0 while it should be 4.0

**Expected behavior**
A version 4.0 file is expected with a field "VERSION:4.0"

**Actual behavior**
A version 3.0 file is observed with a field "VERSION:3.0"

********************** start of proposed patch ***************************
--- a/3rdparty/sabre/dav/lib/CardDAV/Plugin.php 2019-08-29 10:15:33.247254111 +0000
+++ b/3rdparty/sabre/dav/lib/CardDAV/Plugin.php 2019-08-14 18:56:08.000000000 +0000
@@ -807,10 +807,11 @@
         $result = HTTP\Util::negotiate(
             $input,
             [
-                // The correct standard mime-type. Defaults to version 4 (the default format for Accept: */* or Accept: text/*)
-                'text/vcard',
                 // Most often used mime-type. Version 3
                 'text/x-vcard',
+                // The correct standard mime-type. Defaults to version 3 as
+                // well.
+                'text/vcard',
                 // vCard 4
                 'text/vcard; version=4.0',
                 // vCard 3
@@ -823,12 +824,12 @@
         $mimeType = $result;
         switch ($result) {

+            default :
             case 'text/x-vcard' :
+            case 'text/vcard' :
             case 'text/vcard; version=3.0' :
                 $mimeType = 'text/vcard';
                 return 'vcard3';
-            default :
-            case 'text/vcard' :
             case 'text/vcard; version=4.0' :
                 return 'vcard4';
             case 'application/vcard+json' :
********************** end proposed patch ***************************

**Comments**
This patch changes the behavior of HTTP GET requests on vCards. It does not affect REPORT requests since these requests use the negotiateVCard function 

but first get the version from an XML attribute in the HTTP request body (defaulting to version 3.0).


### Server configuration
**Operating system**:
Ubuntu 16.04 LTS

**Web server:** Apache, Nginx...
Apache version 2.4.18

**Database:** MariaDB, MySQL, PostgreSQL... 
MySQL 5.7.27

**PHP version:** 7.0, 7.1, 7.2...
PHP version 7.3.8

**Nextcloud version:** (see Nextcloud admin page)
Nextcloud 16.0.4

**Contacts version:** (see Nextcloud apps page)
Contacts 3.1.3

**Updated from an older Nextcloud or fresh install:**
Updated from an older Nextcloud

**Signing status:**
No errors have been found.

**List of activated apps:**
occ app:list
Application list
Enabled:
  - accessibility: 1.2.0
  - admin_audit: 1.6.0
  - bookmarks: 1.1.1
  - calendar: 1.7.0
  - circles: 0.17.7
  - cloud_federation_api: 0.2.0
  - comments: 1.6.0
  - contacts: 3.1.3
  - dav: 1.9.2
  - federatedfilesharing: 1.6.0
  - federation: 1.6.0
  - files: 1.11.0
  - files_rightclick: 0.13.0
  - files_sharing: 1.8.0
  - files_texteditor: 2.8.0
  - files_trashbin: 1.6.0
  - files_versions: 1.9.0
  - files_videoplayer: 1.5.0
  - firstrunwizard: 2.5.0
  - forms: 1.0.3
  - logreader: 2.1.0
  - lookup_server_connector: 1.4.0
  - news: 13.1.6
  - nextcloud_announcements: 1.5.0
  - notes: 3.0.1
  - notifications: 2.4.1
  - oauth2: 1.4.2
  - ocsms: 2.1.3
  - password_policy: 1.6.0
  - phonetrack: 0.5.2
  - polls: 0.10.2
  - privacy: 1.0.0
  - provisioning_api: 1.6.0
  - recommendations: 0.4.0
  - serverinfo: 1.6.0
  - sharebymail: 1.6.0
  - support: 1.0.0
  - survey_client: 1.4.0
  - systemtags: 1.6.0
  - tasks: 0.11.1
  - theming: 1.7.0
  - twofactor_backupcodes: 1.5.0
  - updatenotification: 1.6.0
  - user_ldap: 1.6.0
  - viewer: 1.1.0
  - workflowengine: 1.6.0
Disabled:
  - activity
  - encryption
  - files_external
  - files_pdfviewer
  - gallery

**Nextcloud configuration:**
{
    "system": {
        "instanceid": "***REMOVED SENSITIVE VALUE***",
        "passwordsalt": "***REMOVED SENSITIVE VALUE***",
        "datadirectory": "***REMOVED SENSITIVE VALUE***",
        "dbtype": "mysql",
        "version": "16.0.4.1",
        "dbname": "***REMOVED SENSITIVE VALUE***",
        "dbhost": "***REMOVED SENSITIVE VALUE***",
        "dbtableprefix": "oc_",
        "dbuser": "***REMOVED SENSITIVE VALUE***",
        "dbpassword": "***REMOVED SENSITIVE VALUE***",
        "installed": true,
        "loglevel": "3",
        "theme": "",
        "maintenance": false,
        "ldapIgnoreNamingRules": false,
        "overwrite.cli.url": "\/owncloud",
        "trusted_domains": [
            ""***REMOVED SENSITIVE VALUE***"",
            ""***REMOVED SENSITIVE VALUE***"",
            ""***REMOVED SENSITIVE VALUE***"",
            ""***REMOVED SENSITIVE VALUE***"",
            ""***REMOVED SENSITIVE VALUE***"",
            ""***REMOVED SENSITIVE VALUE***"",
            ""***REMOVED SENSITIVE VALUE***"",
            ""***REMOVED SENSITIVE VALUE***""
        ],
        "secret": "***REMOVED SENSITIVE VALUE***",
        "trashbin_retention_obligation": "auto",
        "updater.secret": "***REMOVED SENSITIVE VALUE***",
        "ldapProviderFactory": "\\OCA\\User_LDAP\\LDAPProviderFactory"
    },
    "apps": {
        "accessibility": {
            "enabled": "yes",
            "installed_version": "1.2.0",
            "types": ""
        },
        "activity": {
            "enabled": "no",
            "installed_version": "1.1.2",
            "types": "filesystem"
        },
        "admin_audit": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": "logging"
        },
        "backgroundjob": {
            "lastjob": "2"
        },
        "bookmarks": {
            "enabled": "yes",
            "installed_version": "1.1.1",
            "types": ""
        },
        "bruteforcesettings": {
            "enabled": "no",
            "installed_version": "1.4.0",
            "types": ""
        },
        "calendar": {
            "enabled": "yes",
            "installed_version": "1.7.0",
            "ocsid": "168707",
            "types": ""
        },
        "circles": {
            "enabled": "yes",
            "installed_version": "0.17.7",
            "types": ""
        },
        "cloud_federation_api": {
            "enabled": "yes",
            "installed_version": "0.2.0",
            "types": "filesystem"
        },
        "comments": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": "logging"
        },
        "configreport": {
            "enabled": "no",
            "installed_version": "0.1.1",
            "types": "filesystem"
        },
        "contacts": {
            "backend_ldap": "true",
            "enabled": "yes",
            "installed_version": "3.1.3",
            "ocsid": "168708",
            "types": ""
        },
        "core": {
            "backgroundjobs_mode": "webcron",
            "global_cache_gc_lastrun": "1636667703",
            "installed.bundles": "[\"CoreBundle\"]",
            "installedat": "1391278742.1458",
            "lastcron": "1449499502",
            "lastupdateResult": "{\"version\":\"12.0.13.2\",\"versionstring\":\"Nextcloud 12.0.13\",\"url\":\"https:\\\/\\\/download.nextcloud.com\\

\/server\\\/releases\\\/nextcloud-12.0.13.zip\",\"web\":\"https:\\\/\\\/docs.nextcloud.com\\\/server\\\/12\\\/admin_manual\\\/maintenance\\

\/upgrade.html\",\"autoupdater\":\"1\",\"eol\":\"1\",\"signature\":\"jZbAdJ9cHzBcw7BatJoX7\\\/0Nv9NdecbsR4wEnRBbWI\\\/EmAQ09HoMmmC1xiY88ME5\

\nlvHlcEgF0sVTx6tdg4LvqAH2ze34LhzxgIu7mS1tAHIZ81elGhv66VuRv17QYVs1\\n7QQySikKMprI+mzdTjIf3rloc97lpm9ynQ+6vizwdxhZ0w5r4Gl85ni52MpeN1Zd\\nSx\\

\/Z9LJ0bCIO9C+E6kyQvjI7Q7A+WpMF1SiQL2RJsLJERtV4BP8izVuZQ\\\/hI9NDj\\nrdZAAiMKh8jB0atDNbxu24dWI2Ie7MvnzadL6Ax9+qIWUzlZIqX9yXgFVE2RsGVS\

\nvbaIJ8CiZnKdMBDAdXAVMA==\"}",
            "lastupdatedat": "0",
            "moveavatarsdone": "yes",
            "oc.integritycheck.checker": "[]",
            "previewsCleanedUp": "1",
            "public_caldav": "calendar\/share.php",
            "public_calendar": "calendar\/share.php",
            "public_documents": "documents\/public.php",
            "public_files": "files_sharing\/public.php",
            "public_gallery": "gallery\/public.php",
            "public_webdav": "dav\/appinfo\/v1\/publicwebdav.php",
            "remote_caldav": "dav\/appinfo\/v1\/caldav.php",
            "remote_calendar": "dav\/appinfo\/v1\/caldav.php",
            "remote_carddav": "dav\/appinfo\/v1\/carddav.php",
            "remote_contacts": "dav\/appinfo\/v1\/carddav.php",
            "remote_core.css": "\/core\/minimizer.php",
            "remote_core.js": "\/core\/minimizer.php",
            "remote_dav": "dav\/appinfo\/v2\/remote.php",
            "remote_files": "dav\/appinfo\/v1\/webdav.php",
            "remote_filesync": "files\/appinfo\/filesync.php",
            "remote_webdav": "dav\/appinfo\/v1\/webdav.php",
            "repairlegacystoragesdone": "yes",
            "scss.variables": "fe9eb94a6642923e18bad7bbb7654cd5",
            "theming.variables": "fe9eb94a6642923e18bad7bbb7654cd5",
            "updater.secret.created": "1565894587",
            "vendor": "nextcloud"
        },
        "dav": {
            "buildCalendarSearchIndex": "yes",
            "enabled": "yes",
            "installed_version": "1.9.2",
            "regeneratedBirthdayCalendarsForYearFix": "yes",
            "types": "filesystem"
        },
        "documents": {
            "enabled": "no",
            "installed_version": "0.8.3",
            "ocsid": "168711",
            "types": ""
        },
        "federatedfilesharing": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": ""
        },
        "federation": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": "authentication"
        },
        "files": {
            "backgroundwatcher_previous_file": "9158",
            "backgroundwatcher_previous_folder": "4895",
            "default_quota": "5 GB",
            "enabled": "yes",
            "installed_version": "1.11.0",
            "types": "filesystem"
        },
        "files_pdfviewer": {
            "enabled": "no",
            "installed_version": "0.2",
            "types": ""
        },
        "files_rightclick": {
            "enabled": "yes",
            "installed_version": "0.13.0",
            "types": ""
        },
        "files_sharing": {
            "enabled": "yes",
            "installed_version": "1.8.0",
            "types": "filesystem"
        },
        "files_texteditor": {
            "enabled": "yes",
            "installed_version": "2.8.0",
            "types": ""
        },
        "files_trashbin": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": "filesystem,dav"
        },
        "files_versions": {
            "enabled": "yes",
            "installed_version": "1.9.0",
            "types": "filesystem,dav"
        },
        "files_videoplayer": {
            "enabled": "yes",
            "installed_version": "1.5.0",
            "types": ""
        },
        "files_videoviewer": {
            "enabled": "no",
            "installed_version": "0.1.3",
            "ocsid": "166054",
            "types": ""
        },
        "firstrunwizard": {
            "enabled": "yes",
            "installed_version": "2.5.0",
            "types": "logging"
        },
        "forms": {
            "enabled": "yes",
            "installed_version": "1.0.3",
            "types": ""
        },
        "gallery": {
            "enabled": "no",
            "installed_version": "0.6.1",
            "types": ""
        },
        "logreader": {
            "enabled": "yes",
            "installed_version": "2.1.0",
            "types": ""
        },
        "lookup_server_connector": {
            "enabled": "yes",
            "installed_version": "1.4.0",
            "types": "authentication"
        },
        "news": {
            "enabled": "yes",
            "installed_version": "13.1.6",
            "types": ""
        },
        "nextcloud_announcements": {
            "enabled": "yes",
            "installed_version": "1.5.0",
            "types": "logging"
        },
        "notes": {
            "enabled": "yes",
            "installed_version": "3.0.1",
            "types": ""
        },
        "notifications": {
            "enabled": "yes",
            "installed_version": "2.4.1",
            "types": "logging"
        },
        "oauth2": {
            "enabled": "yes",
            "installed_version": "1.4.2",
            "types": "authentication"
        },
        "ocsms": {
            "enabled": "yes",
            "installed_version": "2.1.3",
            "types": ""
        },
        "password_policy": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": ""
        },
        "phonetrack": {
            "enabled": "yes",
            "installed_version": "0.5.2",
            "types": ""
        },
        "polls": {
            "enabled": "yes",
            "installed_version": "0.10.2",
            "types": ""
        },
        "privacy": {
            "enabled": "yes",
            "installed_version": "1.0.0",
            "types": ""
        },
        "provisioning_api": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": "prevent_group_restriction"
        },
        "recommendations": {
            "enabled": "yes",
            "installed_version": "0.4.0",
            "types": ""
        },
        "roundcube": {
            "enabled": "no",
            "installed_version": "1.9.1",
            "mail_username": "andre",
            "types": ""
        },
        "search_lucene": {
            "enabled": "no",
            "installed_version": "0.5.2",
            "types": "filesystem"
        },
        "serverinfo": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": ""
        },
        "sharebymail": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": "filesystem"
        },
        "support": {
            "enabled": "yes",
            "installed_version": "1.0.0",
            "types": ""
        },
        "survey_client": {
            "enabled": "yes",
            "installed_version": "1.4.0",
            "types": ""
        },
        "systemtags": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": "logging"
        },
        "tasks": {
            "enabled": "yes",
            "installed_version": "0.11.1",
            "types": ""
        },
        "templateeditor": {
            "enabled": "no",
            "installed_version": "0.2",
            "types": ""
        },
        "theming": {
            "enabled": "yes",
            "installed_version": "1.7.0",
            "types": "logging"
        },
        "twofactor_backupcodes": {
            "enabled": "yes",
            "installed_version": "1.5.0",
            "types": ""
        },
        "updatenotification": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": ""
        },
        "updater": {
            "enabled": "no",
            "installed_version": "0.6",
            "types": ""
        },
        "user_ldap": {
            "enabled": "yes",
            "enforce_home_folder_naming_rule": "",
            "installed_version": "1.6.0",
            "s01has_memberof_filter_support": "",
            "s01home_folder_naming_rule": "",
            "s01last_jpegPhoto_lookup": "0",
            "s01ldap_agent_password": "***REMOVED SENSITIVE VALUE***",
            "s01ldap_attributes_for_group_search": "",
            "s01ldap_attributes_for_user_search": "",
            "s01ldap_backup_host": "",
            "s01ldap_backup_port": "",
            "s01ldap_base": "dc=SENSITIVE,dc=fr",
            "s01ldap_base_groups": "dc=SENSITIVE,dc=fr",
            "s01ldap_base_users": "dc=SENSITIVE,dc=fr",
            "s01ldap_cache_ttl": "600",
            "s01ldap_configuration_active": "1",
            "s01ldap_display_name": "cn",
            "s01ldap_dn": "cn=admin,dc=SENSITIVE,dc=fr",
            "s01ldap_dynamic_group_member_url": "",
            "s01ldap_email_attr": "mail",
            "s01ldap_experienced_admin": "0",
            "s01ldap_expert_username_attr": "sn",
            "s01ldap_expert_uuid_group_attr": "sn",
            "s01ldap_expert_uuid_user_attr": "sn",
            "s01ldap_group_display_name": "cn",
            "s01ldap_group_filter": "(&(|(objectclass=CourierMailAccount)))",
            "s01ldap_group_filter_mode": "1",
            "s01ldap_group_member_assoc_attribute": "uniqueMember",
            "s01ldap_groupfilter_groups": "",
            "s01ldap_groupfilter_objectclass": "CourierMailAccount",
            "s01ldap_host": "localhost",
            "s01ldap_login_filter": "(&(|(objectclass=inetOrgPerson))(|(uid=%uid)(|(mailPrimaryAddress=%uid)(mail=%uid))(|(clearPassword=%uid))))",
            "s01ldap_login_filter_mode": "1",
            "s01ldap_loginfilter_attributes": "clearPassword",
            "s01ldap_loginfilter_email": "1",
            "s01ldap_loginfilter_username": "1",
            "s01ldap_nested_groups": "0",
            "s01ldap_override_main_server": "0",
            "s01ldap_paging_size": "500",
            "s01ldap_port": "389",
            "s01ldap_quota_attr": "quotaOwncloud",
            "s01ldap_quota_def": "5000000000",
            "s01ldap_tls": "0",
            "s01ldap_turn_off_cert_check": "0",
            "s01ldap_user_display_name_2": "",
            "s01ldap_user_filter_mode": "0",
            "s01ldap_userfilter_groups": "",
            "s01ldap_userfilter_objectclass": "inetOrgPerson",
            "s01ldap_userlist_filter": "(|(objectclass=inetOrgPerson))",
            "s01use_memberof_to_detect_membership": "1",
            "types": "authentication"
        },
        "viewer": {
            "enabled": "yes",
            "installed_version": "1.1.0",
            "types": ""
        },
        "workflowengine": {
            "enabled": "yes",
            "installed_version": "1.6.0",
            "types": "filesystem"
        }
    }
}


### Client configuration
Firefox 68

Windows 7 (6.1.7601 SP1)

**CardDAV-clients:**
Nextcloud Contacts web interface (application for nextcloud)
DAVx5 (backend) + builtin Contacts application in Android 4.4 (frontend)
(does not really matter)

### Logs
#### *Web server error log*
No error

### Nextcloud log
#### *data/nextcloud.log*
No error

#### Browser log
No error


Thanks for your research :+1: 

Could you submit the patch upstream to https://github.com/sabre-io/dav? If they accept the patch we can backport it to https://github.com/nextcloud/3rdparty/tree/master/sabre/dav. 

cc @georgehrke fyi

Thank you.
This bug has been submitted upstream:
https://github.com/sabre-io/dav/issues/1190


The upstream patch has not been accepted. Defaulting to version 3.0 is intentional.
It makes sense for CardDAV clients. Indeed vCard clients are likely to declare support of version 4.0 of they do support it ; web browsers are different beasts with a generic Accept line.
I would expect the Nextcloud Contacts application to provide a way to download a vCard 4.0 in a web browser.
In my opinion, this is possible without breaking compatibility: generate an augmented URL with explicit vCard version specification for all VCF entries, bypassing HTTP Accept headers.
The Nextcloud Contacts application would provide two links (v3 and v4) so that the end user can choose the format.